*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    overflow: hidden;
    background-color: rgb(92, 92, 92);
}
.container
{   width: 100%;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
#navigation
{
    width: 300px;
    height: 640px;
    background-color: #cccccc;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#generate, .button
{
    border: none;
    padding: 15px 25px;
    background-color: rgb(52, 146, 88);
    font-weight: bold;
    color: rgb(241, 241, 241);
    cursor: pointer;
    transition: 0.4s ease all;
}
#generate:hover, .button:hover
{
    transform: scale(1.1);
}
#kubiks
{
    display: flex;
    width: 70%;
    justify-content: space-around;
}
#canvas
{
    border: 1px solid rgb(156, 156, 156);
    background: linear-gradient( #bbb, transparent 1px), linear-gradient( 90deg, #bbb, transparent 1px);
    background-size: 40px 40px;
    background-position: 0 0;
    overflow: hidden;
}
.side
{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
#who
{
    text-align: center;
}
#window
{
    width: 600px;
    padding: 50px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(48, 48, 48);
    border-radius: 7px;
    box-shadow: 0 0 30px rgba(0,0,0,0.9); /* Параметры тени */
    color: rgb(241, 241, 241);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#buttons
{
    margin-top: 30px;
}
.exit
{
    margin-left: 20px;
    background-color: rgb(182, 53, 53);
}